<!DOCTYPE html>
<html>
  <head>
    <title> library </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <%-include('layout')%>
      <p>The library has the following recording counts</p>
      <ul>
        <li>book count :<%=book_count %></li>
        <li>author count :<%=author_count %></li>
        <li>genre count :<%=genre_count %></li>
      </ul>
  </body>
</html>
