<!DOCTYPE html>
<html>
  <head>
    <title> library </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> LOCAL LIBRARY</h1>
    <ul>
      <li><a href="http://localhost:3000/catelog/book">All Books</a></li>
      <li><a href="http://localhost:3000/catelog/author">All Authors</a></li>
      <li><a href="http://localhost:3000/catelog/genre">All Genres</a></li>
    </ul>
    <img src = "/images/images.jpeg" />
  </body>
</html>
